/* print.css */

@media print {
  @page {
    margin: 0; /* Set margin to zero to use the entire paper size */
    padding: 0%;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* Add other print styles as needed */
}
